html {
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;
  }
  
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  body {
    display: flex;
    justify-content: center;
  }
  
.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .hidden {
    display: none !important;
  }
  
  .invisible {
    visibility: hidden;
  }
  
  header {
    text-align: center;
    font-size: 18px;
  }
  
  .heading {
    font-size: 3em;
  }
  
  .tile-container {
    display: grid;
    grid-template-rows: 180px 180px;
    grid-template-columns: 180px 180px;
    grid-gap: 25px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  .unclickable {
    pointer-events: none;
  }
  
  .tile-barney {
    background-color: #ec99e7;
    box-shadow: 0 0 0 1px #ec99e7 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #ea87e3, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    transition: 0.15s;
  }
  
  .tile-barney:hover,
  .tile-barney:focus {
    background-color: #cd61c6;
    box-shadow: 0 0 0 1px #cd61c6 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #ea87e3, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6)
  }
  
  .tile-barney:active,
  .tile-barney.activated {
    box-shadow: 0 0 0 1px #d240c8 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-image: url(/lib/barney.gif);
    transform: translateY(10px);
  }
  
  .tile-burns {
    background-color: #afc77d;
    box-shadow: 0 0 0 1px #afc77d inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #aac472, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    transition: 0.15s;
  }
  
  .tile-burns:hover,
  .tile-burns:focus {
    background-color: #b9d57d;
    box-shadow: 0 0 0 1px #b9d57d inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #aac472, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6)
  }
  
  .tile-burns:active,
  .tile-burns.activated {
    box-shadow: 0 0 0 1px #9fcd3c inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-image: url(/lib/mr-burns.gif);
    transform: translateY(10px);
  }
  
  .tile-homer {
    background-color: #87bdd6;
    box-shadow: 0 0 0 1px #87bdd6 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #7db8d3, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    transition: 0.15s;
  }
  
  .tile-homer:hover,
  .tile-homer:focus {
    background-color: #2491c3;
    box-shadow: 0 0 0 1px #2491c3 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #264a5b, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
  }
  
  .tile-homer:active,
  .tile-homer.activated {
    box-shadow: 0 0 0 1px #31708e inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-image: url(/lib/homer.gif);
    transform: translateY(10px);
  }
  .tile-bart {
    background-color: #e9debe;
    box-shadow: 0 0 0 1px #e9debe inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #eaddb7, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    transition: 0.15s;
  }
  
  .tile-bart:hover,
  .tile-bart:focus {
    background-color: #e9d189;
    box-shadow: 0 0 0 1px #e9d189 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #eaddb7, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  }
  
  .tile-bart:active,
  .tile-bart.activated {
    box-shadow: 0 0 0 1px #e7c664 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-image: url(lib/bart.gif)
    transform: translateY(10px);
  }
  
  .info-section {
    text-align: center;
  }
  
  .start-button {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
  }
  
  .start-button:hover {
    color: #333;
    border-color: #888;
    outline: 0;
  }
  
  .info {
    font-size: 22px;
  }
  
  @media screen and (max-width: 550px) {
    .game {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .heading {
      font-size: 2em;
    }
  
    .tile-container {
      width: 100%;
      height: 100%;
      grid-template-rows: 150px 150px;
      grid-template-columns: 150px 150px;
    }
  }